flask==3.0.3
flask-cors==4.0.1
pymongo==4.7.2
motor==3.4.0
bcrypt==4.1.3
PyJWT==2.8.0
celery==5.4.0
redis==5.0.4
python-dotenv==1.0.1
pdfminer.six==20231228
python-docx==1.1.2
flask-limiter==4.0.0
structlog==24.4.0
python-multipart==0.0.9
python-docx==1.1.2
pdfplumber==0.11.4
#pymupdf==1.24.10
Werkzeug==3.0.3
gunicorn==22.0.0
kombu==5.3.7
six==1.16.0
chardet==5.2.0
PyMuPDF==1.24.9
openai==1.30.0